@font-face {
  font-family: 'Nunito';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/MYRIADPRO-REGULAR.OTF') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/MYRIADPRO-REGULAR.OTF') format('truetype');

}

@font-face {
  font-family: 'Nunito';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/MYRIADPRO-SEMIBOLD.OTF') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  min-height: 100vh;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}

nav .navbar {
  height: 100%;
  max-width: 1300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0px 20px;
}

.navbar .logo a {
  text-decoration: none;
}

nav .navbar .nav-links {
  line-height: 70px;
  height: 100%;
}

nav .navbar .links {
  display: flex;
}

nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}

nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #012A4A;
  font-size: 15px;
  font-weight: 500;
}

.links li:hover .why-arrow,
.links li:hover .laws-arrow,
.links li:hover .case-arrow,
.links li:hover .solutions-arrow,
.links li:hover .about-arrow {
  transform: rotate(180deg);
  color: #343a40;
}

nav .navbar .links li .arrow {
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #012A4A;
  transition: all 0.3s ease;
}

nav .navbar .links li .sub-menu {
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #FFFFFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
  padding: 0px !important;
}

nav .navbar .links li:hover .why-sub-menu,
nav .navbar .links li:hover .laws-sub-menu,
nav .navbar .links li:hover .solutions-sub-menu,
nav .navbar .links li:hover .case-sub-menu,
nav .navbar .links li:hover .about-sub-menu {
  display: block;
}

.navbar .links li .sub-menu li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .links li .sub-menu a {
  color: #012A4A;
  font-size: 13px;
  font-weight: 500;
}

.navbar .links li .sub-menu .more-arrow {
  line-height: 40px;
}

.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}

.links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}

.book-bemo-button a {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #012A4A;
  border: transparent;
  border-radius: 50px;
  padding: 10px 20px;
}

.book-bemo-button a:hover {
  background-color: #343a40;
  color: #FFFFFF;
}

.navbar .nav-links .sidebar-logo {
  display: none;
}

.navbar .bx-menu {
  display: none;
}

@media (max-width:920px) {
  nav .navbar {
    max-width: 100%;
    padding: 0 20px;
  }

  nav .navbar .logo a {
    font-size: 27px;
  }

  nav .navbar .links li {
    padding: 0 10px;
    white-space: nowrap;
  }

  nav .navbar .links li a {
    font-size: 14px;
  }
}

@media (max-width:1000px) {
  nav .navbar {
    flex-direction: row-reverse;
  }

  .navbar .bx-menu {
    display: block;
  }

  .book-bemo-button {
    display: none;
  }

  nav .navbar .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background: #FFFFFF;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }

  .navbar .nav-links .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sidebar-logo .logo-name {
    font-size: 25px;
    color: #012A4A;
  }

  .sidebar-logo i,
  .navbar .bx-menu {
    font-size: 40px;
    color: #012A4A;
  }

  nav .navbar .links {
    display: block;
    margin-top: 20px;
    padding: 0px !important;
  }

  nav .navbar .links li .arrow {
    line-height: 40px;
  }

  nav .navbar .links li {
    display: block;
  }

  nav .navbar .links li .sub-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }

  nav .navbar .links li .sub-menu li {
    border-bottom: none;

  }

  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
    position: relative;
    left: 0;
  }

  .navbar .links li .sub-menu .more-sub-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .links li:hover .why-arrow,
  .links li:hover .laws-arrow,
  .links li:hover .solutions-arrow,
  .links li:hover .case-arrow,
  .links li:hover .about-arrow {
    transform: rotate(0deg);
  }

  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
  }

  .navbar .links li .sub-menu .more span {
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu {
    display: none;
  }

  nav .navbar .links li:hover .why-sub-menu,
  nav .navbar .links li:hover .laws-sub-menu,
  nav .navbar .links li:hover .solutions-sub-menu,
  nav .navbar .links li:hover .case-sub-menu,
  nav .navbar .links li:hover .about-sub-menu {
    display: none;
  }

  .navbar .nav-links.show1 .links .why-sub-menu,
  .navbar .nav-links.show3 .links .laws-sub-menu,
  .navbar .nav-links.show4 .links .solutions-sub-menu,
  .navbar .nav-links.show5 .links .case-sub-menu,
  .navbar .nav-links.show6 .links .about-sub-menu {
    display: block;
  }

  .navbar .nav-links.show1 .links .why-arrow,
  .navbar .nav-links.show3 .links .laws-arrow,
  .navbar .nav-links.show4 .links .solutions-arrow,
  .navbar .nav-links.show5 .links .case-arrow,
  .navbar .nav-links.show6 .links .about-arrow {
    transform: rotate(180deg);
  }
}

@media (max-width:370px) {
  nav .navbar .nav-links {
    max-width: 100%;
  }
}

.sub-menu li {
  transition:all 0.3s;
}

.sub-menu li:hover {
  background-color: #F5F5F5;
  color: #343a40;
}