*,
:after,
:before {
    box-sizing: border-box
}

a {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2
}

.body-wrapper {
    overflow-x: hidden
}



html {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15
}

body {
    margin: 0
}

main {
    display: block
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

[hidden],
template {
    display: none
}

.row-fluid {
    zoom: 1;
    flex-wrap: wrap;
    width: 100%
}

.row-fluid:after,
.row-fluid:before {
    content: "";
    display: table
}

.row-fluid:after {
    clear: both
}

.row-fluid [class=span] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    float: left;
    margin-left: 2.127659574%;
    margin-left: 2.0744680846382977%;
    min-height: 1px;
    min-height: 0;
    width: 100%
}

.row-fluid [class=span]:first-child {
    margin-left: 0
}

.row-fluid .span12 {
    width: 99.99999998999999%;
    width: 99.94680850063828%
}

.row-fluid .span11 {
    width: 91.489361693%;
    width: 91.4361702036383%
}

.row-fluid .span10 {
    width: 82.97872339599999%;
    width: 82.92553190663828%
}

.row-fluid .span9 {
    width: 74.468085099%;
    width: 74.4148936096383%
}

.row-fluid .span8 {
    width: 65.95744680199999%;
    width: 65.90425531263828%
}

.row-fluid .span7 {
    width: 57.446808505%;
    width: 57.3936170156383%
}

.row-fluid .span6 {
    width: 48.93617020799999%;
    width: 48.88297871863829%
}

.row-fluid .span5 {
    width: 40.425531911%;
    width: 40.3723404216383%
}

.row-fluid .span4 {
    width: 31.914893614%;
    width: 31.8617021246383%
}

.row-fluid .span3 {
    width: 23.404255317%;
    width: 23.3510638276383%
}

.row-fluid .span2 {
    width: 14.89361702%;
    width: 14.8404255306383%
}

.row-fluid .span1 {
    width: 6.382978723%;
    width: 6.329787233638298%
}

.container-fluid {
    zoom: 1
}

.container-fluid:after,
.container-fluid:before {
    content: "";
    display: table
}

.container-fluid:after {
    clear: both
}

@media (max-width:992px) {
    .row-fluid {
        width: 100%
    }
    .row-fluid [class=span] {
        display: block;
        float: none;
        margin-left: 0;
        width: auto;
        width: 100%
    }
}

@media (min-width:993px) and (max-width:1240px) {
    .row-fluid {
        zoom: 1;
        width: 100%
    }
    .row-fluid:after,
    .row-fluid:before {
        content: "";
        display: table
    }
    .row-fluid:after {
        clear: both
    }
    .row-fluid [class=span] {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        float: left;
        margin-left: 2.762430939%;
        margin-left: 2.709239449638298%;
        min-height: 1px;
        min-height: 0;
        width: 100%
    }
    .row-fluid [class=span]:first-child,
    div[class=full-width-section]>.row-fluid [class=span] {
        margin-left: 0;
        margin-left: 0
    }
    .row-fluid .span12 {
        width: 99.999999993%;
        width: 99.9468085036383%
    }
    .row-fluid .span11 {
        width: 91.436464082%;
        width: 91.38327259263829%
    }
    .row-fluid .span10 {
        width: 82.87292817100001%;
        width: 82.8197366816383%
    }
    .row-fluid .span9 {
        width: 74.30939226%;
        width: 74.25620077063829%
    }
    .row-fluid .span8 {
        width: 65.74585634900001%;
        width: 65.6926648596383%
    }
    .row-fluid .span7 {
        width: 57.182320438000005%;
        width: 57.129128948638304%
    }
    .row-fluid .span6 {
        width: 48.618784527%;
        width: 48.5655930376383%
    }
    .row-fluid .span5 {
        width: 40.055248616%;
        width: 40.0020571266383%
    }
    .row-fluid .span4 {
        width: 31.491712705%;
        width: 31.4385212156383%
    }
    .row-fluid .span3 {
        width: 22.928176794%;
        width: 22.874985304638297%
    }
    .row-fluid .span2 {
        width: 14.364640883%;
        width: 14.311449393638298%
    }
    .row-fluid .span1 {
        width: 5.801104972%;
        width: 5.747913482638298%
    }
    div[class=full-width-section]>.row-fluid .span12 {
        width: 100%;
        width: 100%
    }
    div[class=full-width-section]>.row-fluid .span11 {
        width: 91.666%;
        width: 91.666%
    }
    div[class=full-width-section]>.row-fluid .span10 {
        width: 83.333%;
        width: 83.333%
    }
    div[class=full-width-section]>.row-fluid .span9 {
        width: 75%;
        width: 75%
    }
    div[class=full-width-section]>.row-fluid .span8 {
        width: 66.666%;
        width: 66.666%
    }
    div[class=full-width-section]>.row-fluid .span7 {
        width: 58.333%;
        width: 58.333%
    }
    div[class=full-width-section]>.row-fluid .span6 {
        width: 50%;
        width: 50%
    }
    div[class=full-width-section]>.row-fluid .span5 {
        width: 41.666%;
        width: 41.666%
    }
    div[class=full-width-section]>.row-fluid .span4 {
        width: 33.333%;
        width: 33.333%
    }
    div[class=full-width-section]>.row-fluid .span3 {
        width: 25%;
        width: 25%
    }
    div[class=full-width-section]>.row-fluid .span2 {
        width: 16.666%;
        width: 16.666%
    }
    div[class=full-width-section]>.row-fluid .span1 {
        width: 8.333%;
        width: 8.333%
    }
}

@media (min-width:1241px) {
    .row-fluid {
        zoom: 1;
        width: 100%
    }
    .row-fluid:after,
    .row-fluid:before {
        content: "";
        display: table
    }
    .row-fluid:after {
        clear: both
    }
    .row-fluid [class=span] {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        float: left;
        margin-left: 2.564102564%;
        margin-left: 2.510911074638298%;
        min-height: 1px;
        min-height: 0;
        width: 100%
    }
    .row-fluid [class=span]:first-child,
    div[class=full-width-section]>.row-fluid [class=span] {
        margin-left: 0;
        margin-left: 0
    }
    .row-fluid .span12 {
        width: 100%;
        width: 99.94680851063829%
    }
    .row-fluid .span11 {
        width: 91.45299145300001%;
        width: 91.3997999636383%
    }
    .row-fluid .span10 {
        width: 82.905982906%;
        width: 82.8527914166383%
    }
    .row-fluid .span9 {
        width: 74.358974359%;
        width: 74.30578286963829%
    }
    .row-fluid .span8 {
        width: 65.81196581200001%;
        width: 65.7587743226383%
    }
    .row-fluid .span7 {
        width: 57.264957265%;
        width: 57.2117657756383%
    }
    .row-fluid .span6 {
        width: 48.717948718%;
        width: 48.6647572286383%
    }
    .row-fluid .span5 {
        width: 40.170940171000005%;
        width: 40.117748681638304%
    }
    .row-fluid .span4 {
        width: 31.623931624%;
        width: 31.5707401346383%
    }
    .row-fluid .span3 {
        width: 23.076923077%;
        width: 23.0237315876383%
    }
    .row-fluid .span2 {
        width: 14.529914530000001%;
        width: 14.4767230406383%
    }
    .row-fluid .span1 {
        width: 5.982905983%;
        width: 5.929714493638298%
    }
    div[class=full-width-section]>.row-fluid .span12 {
        width: 100%;
        width: 100%
    }
    div[class=full-width-section]>.row-fluid .span11 {
        width: 91.666%;
        width: 91.666%
    }
    div[class=full-width-section]>.row-fluid .span10 {
        width: 83.333%;
        width: 83.333%
    }
    div[class=full-width-section]>.row-fluid .span9 {
        width: 75%;
        width: 75%
    }
    div[class=full-width-section]>.row-fluid .span8 {
        width: 66.666%;
        width: 66.666%
    }
    div[class=full-width-section]>.row-fluid .span7 {
        width: 58.333%;
        width: 58.333%
    }
    div[class=full-width-section]>.row-fluid .span6 {
        width: 50%;
        width: 50%
    }
    div[class=full-width-section]>.row-fluid .span5 {
        width: 41.666%;
        width: 41.666%
    }
    div[class=full-width-section]>.row-fluid .span4 {
        width: 33.333%;
        width: 33.333%
    }
    div[class=full-width-section]>.row-fluid .span3 {
        width: 25%;
        width: 25%
    }
    div[class=full-width-section]>.row-fluid .span2 {
        width: 16.666%;
        width: 16.666%
    }
    div[class=full-width-section]>.row-fluid .span1 {
        width: 8.333%;
        width: 8.333%
    }
}

.clearfix {
    zoom: 1
}

.clearfix:after,
.clearfix:before {
    content: "";
    display: table
}

.clearfix:after {
    clear: both
}

.hide {
    display: none
}

.show {
    display: block
}

.hidden,
.invisible {
    visibility: hidden
}

.hidden {
    display: none
}

.hidden-desktop,
.visible-phone,
.visible-tablet {
    display: none !important
}

@media (max-width:992px) {
    .visible-phone {
        display: inherit !important
    }
    .hidden-phone {
        display: none !important
    }
    .hidden-desktop {
        display: inherit !important
    }
    .visible-desktop {
        display: none !important
    }
}

@media (min-width:993px) and (max-width:1240px) {
    .visible-tablet {
        display: inherit !important
    }
    .hidden-tablet {
        display: none !important
    }
    .hidden-desktop {
        display: inherit !important
    }
    .visible-desktop {
        display: none !important
    }
}

.growfast-content-wrapper {
    margin: 0 auto;
    padding: 0 20px
}

@media (max-width:992px) {
    .growfast-content-wrapper {
        padding: 0 10px
    }
}

.dnd-section>.row-fluid {
    margin: 0 auto
}

.dnd-section .dnd-column {
    padding: 0 20px
}

.dnd-section .dnd-column .row-fluid .dnd-column {
    padding: 0
}

@media (max-width:992px) {
    .dnd-section .dnd-column,
    .dnd-section .dnd-column .row-fluid .dnd-column {
        padding: 0 10px !important
    }
    .dnd-section .dnd-column .dnd-column .row-fluid .dnd-column {
        padding: 0 !important
    }
}

.dnd-section>.row-fluid>.dnd-module {
    padding: 0 20px
}

@media (max-width:992px) {
    .dnd-section>.row-fluid>.dnd-module {
        padding: 0 10px !important
    }
}

div[class=full-width-section].dnd-section>.row-fluid>.dnd-column,
div[class=full-width-section].dnd-section>.row-fluid>.dnd-module,
div[class=full-width-section]>.row-fluid>.dnd-column,
div[class=full-width-section]>.row-fluid>.dnd-module {
    padding: 0 !important
}

html {
    font-size: 17px
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.7;
    word-break: break-word
}

html[lang^=ja] body,
html[lang^=ko] body,
html[lang^=zh] body {
    line-break: strict;
    word-break: break-all
}

p {
    margin: 0 0 1rem
}

a {
    cursor: pointer
}

a,
a:focus,
a:hover {
    text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul {
    margin: 0 0 1rem
}

ol,
ul {
    padding: 0 0 0 1rem
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin: 0
}

ul.no-list {
    list-style: none
}

pre {
    overflow: auto
}

code {
    vertical-align: bottom
}

blockquote {
    border-left: 2px solid;
    padding-left: 1rem
}

blockquote,
hr {
    margin: 0 0 1rem
}

hr {
    border: none;
    height: 1px;
    opacity: .1
}

img {
    font-size: 16px;
    word-break: normal
}

.button,
button {
    cursor: pointer;
    display: inline-block;
    font-size: 100%;
    text-align: center;
    transition: all .15s linear;
    white-space: normal
}

.button:disabled,
button:disabled {
    background-color: #585858;
    border-color: #585858;
    color: #fff
}

.button:active,
.button:focus,
.button:hover,
button:active,
button:focus,
button:hover {
    text-decoration: none
}

body form.hs-form fieldset.form-columns-1 .hs-input {
    width: 100%
}

body form.hs-form fieldset[class=form-columns] .hs-input[type=checkbox] {
    width: auto
}

body form.hs-form fieldset[class=form-columns] .input {
    margin-right: 0
}

body form.hs-form fieldset .hs-form-field {
    margin-right: 5%
}

body form.hs-form fieldset.form-columns-3 .hs-form-field {
    width: 30%
}

body form.hs-form fieldset.form-columns-2 .hs-form-field {
    width: 47.5%
}

body form.hs-form fieldset.form-columns-1 .hs-form-field {
    width: 100%
}

body form.hs-form fieldset>:last-child {
    margin-right: 0
}

@media (max-width:768px) {
    body form.hs-form fieldset .hs-form-field {
        margin-right: 0
    }
    body form.hs-form fieldset.form-columns-1 .hs-form-field,
    body form.hs-form fieldset.form-columns-2 .hs-form-field,
    body form.hs-form fieldset.form-columns-3 .hs-form-field {
        width: 100% !important
    }
}

.hs-form-field,
.hs_error_rollup {
    margin-bottom: 1rem
}

form label {
    display: block;
    font-size: 95%;
    margin-bottom: .5rem
}

form legend {
    font-size: 75%;
    margin-bottom: .5rem
}

form input[type=email],
form input[type=file],
form input[type=number],
form input[type=password],
form input[type=tel],
form input[type=text],
form select,
form textarea {
    background-color: #fff;
    border: 1px solid;
    border-radius: 0;
    border-radius: 3px;
    display: inline-block;
    font-size: 95%;
    padding: .625rem;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    width: 100%
}

form input:focus-visible,
form select:focus-visible,
form textarea:focus-visible {
    outline: none
}

form fieldset {
    max-width: 100% !important
}

body textarea {
    min-height: 8rem
}

form .inputs-list {
    list-style: none;
    margin: 0;
    padding: 0
}

form .inputs-list>li {
    display: block;
    margin: .5rem 0
}

form .inputs-list input,
form .inputs-list span {
    vertical-align: middle
}

form input[type=checkbox],
form input[type=radio] {
    cursor: pointer;
    margin-right: .375rem
}

.hs-dateinput {
    position: relative
}

.hs-dateinput:before {
    content: "\01F4C5";
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%)
}

.fn-date-picker .pika-table thead th {
    color: #fff
}

.fn-date-picker td.is-selected .pika-button {
    border-radius: 0;
    box-shadow: none
}

.fn-date-picker td .pika-button:focus,
.fn-date-picker td .pika-button:hover {
    border-radius: 0 !important;
    color: #fff
}

form input[type=file] {
    background-color: transparent;
    border: initial;
    padding: initial
}

form .hs-richtext,
form .hs-richtext p {
    font-size: 95%;
    margin: 0 0 1rem
}

form .hs-richtext img {
    max-width: 100% !important
}

.legal-consent-container .hs-form-booleancheckbox-display>span,
.legal-consent-container .hs-form-booleancheckbox-display>span p {
    margin-left: .25rem !important
}

.hs-error-msgs label,
.hs-error-msgs.inputs-list>li {
    margin-bottom: 0
}

.hs-error-msg {
    margin-top: .5rem
}

form .hs-button,
form input[type=submit] {
    cursor: pointer;
    display: inline-block;
    font-size: 100%;
    text-align: center;
    transition: all .15s linear;
    white-space: normal
}

.hs-submit {
    margin-top: 1rem
}

.grecaptcha-badge {
    margin: 0 auto
}

.hs_recaptcha {
    display: flex;
    margin-bottom: 2rem
}

table {
    margin-bottom: 1rem;
    overflow-wrap: break-word
}

table,
td,
th {
    border: 1px solid
}

td,
th {
    padding: .5rem;
    vertical-align: top
}

thead td,
thead th {
    border-bottom: 2px solid;
    vertical-align: bottom
}

table.table-custom-styles-1 {
    background-color: transparent;
    border: none !important;
    line-height: 1.6;
    position: relative
}

table.table-custom-styles-1 tr td {
    border: none;
    padding: 1rem !important
}

table.table-custom-styles-1.table-header-cell-1-disable tr:first-child td:first-child,
table.table-custom-styles-1.table-header-cell-2-disable tr:first-child td:nth-child(2) {
    border-left-color: transparent !important;
    border-top-color: transparent !important
}

table.table-custom-styles-1 tr td:nth-child(2) {
    border-left-width: .25rem !important;
    border-right-width: .25rem !important
}

table.table-custom-styles-1 tr:first-child td {
    padding-top: 1rem !important
}

table.table-custom-styles-1 tr:first-child td:nth-child(2) {
    border-top-width: .5rem !important;
    padding-top: .75rem !important
}

table.table-custom-styles-1 tr:last-child td {
    padding-bottom: 1rem !important
}

table.table-custom-styles-1 tr:last-child td:nth-child(2) {
    border-bottom-width: .5rem !important;
    padding-bottom: .75rem !important
}

table.table-custom-styles-1 tr:not(:last-child) td:nth-child(2) {
    border-bottom-color: transparent !important
}

@media (max-width:992px) {
    table.table-disable-max-width-992 {
        display: none
    }
}

@media (max-width:768px) {
    table.table-disable-max-width-768 {
        display: none
    }
}

@media (max-width:600px) {
    table.table-disable-max-width-600 {
        display: none
    }
}

.growfast-header-wrapper .dnd-section {
    padding: 0
}

@media (min-width:993px) {
    .growfast-theme-fixed-footer--true .growfast-footer {
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        width: auto;
        z-index: -1
    }
}

.growfast-scrolltop {
    align-items: center;
    border-radius: 50%;
    bottom: 2rem;
    cursor: pointer;
    display: flex;
    display: none;
    height: 40px;
    justify-content: center;
    position: fixed;
    right: 4rem;
    transition: all .2s ease;
    width: 40px;
    z-index: 9
}

.growfast-scrolltop-svg-wrap {
    display: flex;
    margin: -2px -2px 0 0
}

.growfast-scrolltop-svg-wrap svg {
    width: 18px
}

.hs-menu-wrapper ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding-left: 0
}

.hs-menu-wrapper.hs-menu-flow-horizontal .hs-menu-children-wrapper {
    flex-direction: column
}

@media (max-width:767px) {
    .hs-menu-wrapper.hs-menu-flow-horizontal ul {
        flex-direction: column
    }
}

.hs-menu-wrapper.hs-menu-flow-vertical ul {
    flex-direction: column
}

.hs-menu-wrapper.hs-menu-flow-vertical.flyouts ul {
    display: inline-flex
}

@media (max-width:767px) {
    .hs-menu-wrapper.hs-menu-flow-vertical ul {
        display: flex
    }
}

.hs-menu-wrapper.flyouts .hs-item-has-children {
    position: relative
}

.hs-menu-wrapper.flyouts .hs-menu-children-wrapper {
    left: -9999px;
    opacity: 0;
    position: absolute
}

.hs-menu-wrapper.flyouts .hs-menu-children-wrapper a {
    display: block;
    white-space: nowrap
}

.hs-menu-wrapper.hs-menu-flow-horizontal.flyouts .hs-item-has-children:hover>.hs-menu-children-wrapper {
    left: 0;
    opacity: 1;
    top: 100%
}

.hs-menu-wrapper.hs-menu-flow-vertical.flyouts .hs-item-has-children:hover>.hs-menu-children-wrapper {
    left: 100%;
    opacity: 1;
    top: 0
}

@media (max-width:767px) {
    .hs-menu-wrapper.flyouts .hs-menu-children-wrapper,
    .hs-menu-wrapper.hs-menu-flow-horizontal.flyouts .hs-item-has-children:hover>.hs-menu-children-wrapper,
    .hs-menu-wrapper.hs-menu-flow-vertical.flyouts .hs-item-has-children:hover>.hs-menu-children-wrapper {
        left: 0;
        opacity: 1;
        position: relative;
        top: auto
    }
}

.hs_cos_wrapper_type_cta img,
.hs_cos_wrapper_type_inline_rich_text img,
.hs_cos_wrapper_type_logo img,
.hs_cos_wrapper_type_rich_text img,
p img {
    height: auto;
    max-width: 100%
}

.hs_cos_wrapper_widget>hr {
    background: none;
    height: 0;
    opacity: 1
}

div[class=header-bottom] .hs_cos_wrapper_type_rich_text p:last-child,
div[class=header-top] .hs_cos_wrapper_type_rich_text p:last-child {
    margin-bottom: 0
}

.form-title:empty {
    display: none
}

.growfast-theme .lang_list_class:after {
    border: inherit;
    border-bottom-color: inherit;
    margin-bottom: inherit;
    top: inherit
}

.growfast-theme .lang_list_class:after,
.growfast-theme .lang_list_class:before {
    content: inherit;
    display: inherit;
    height: inherit;
    left: inherit;
    margin-left: inherit;
    position: inherit;
    width: inherit
}

.growfast-theme .lang_list_class:before {
    border: inherit;
    border-bottom-color: inherit;
    top: inherit
}

.growfast-theme .lang_list_class {
    background-color: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    box-shadow: 0 1px 24px rgba(88, 88, 88, .12);
    display: none;
    left: 50%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 100%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 150px;
    z-index: 100
}

.growfast-theme .lang_list_class li:first-child {
    border-top: none;
    padding-top: 1rem
}

.growfast-theme .lang_list_class li {
    background-color: transparent;
    border-left: none;
    border-right: none;
    font-size: 90%;
    line-height: 1;
    padding: 0 1rem .75rem;
    position: relative
}

.growfast-theme .lang_list_class li:last-child {
    border-bottom: none;
    padding-bottom: 1rem
}

.growfast-theme .lang_list_class li a:hover {
    text-decoration: underline
}

.growfast-theme .hs-search-field__input {
    width: calc(100% - 45px)
}

.growfast-theme .hs-search-field__bar button {
    border-radius: 5px;
    padding: .5rem
}

.growfast-theme .hs-search-field__bar button svg {
    height: 16px
}

.growfast-theme .hs-search-field__suggestions #results-for {
    font-style: italic
}

.growfast-theme .hs-search-field--open .hs-search-field__suggestions {
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    box-shadow: 0 1px 24px rgba(88, 88, 88, .12);
    margin-top: .5rem;
    padding: .5rem
}

.growfast-theme .hs-search-field--open .hs-search-field__suggestions li a {
    padding: 0 .25rem
}

.growfast-theme .widget-type-linked_image>span {
    display: inherit;
    line-height: 0
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@-webkit-keyframes default_animation {
    0% {
        opacity: 0;
        -webkit-transform: scale(.96);
        transform: scale(.96)
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes default_animation {
    0% {
        opacity: 0;
        -webkit-transform: scale(.96);
        transform: scale(.96)
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

